@import './base.css';

:root {
  --color-bg: #fff;
  --color-card: #f5f5f5;
  --color-text: #222;
  --color-title: #d48ca6; /* rosa seco tenue */
  --color-border: #e0e0e0;
}
[data-theme="dark"] {
  --color-bg: #23272f;
  --color-card: #2d313a;
  --color-text: #e4c8c8;
  --color-title: #d48ca6;
  --color-border: #444;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
